<div class="login-container">
    <form class="form-card" (ngSubmit)="onSubmit()" [formGroup]="loginForm">
        <h2 class="title">Iniciar sesión</h2>

        <div class="form-group">
            <label for="correo">Correo</label>
            <div class="input-icon">
                <i class="fas fa-user"></i>
                <input type="email" id="correo" formControlName="correo" placeholder="Ingresa tu correo" />
            </div>
        </div>

        <div class="form-group">
            <label for="contrasena">Contraseña</label>
            <div class="input-icon">
                <i class="fas fa-lock"></i>
                <input [type]="mostrarContrasena ? 'text' : 'password'" id="contrasena" formControlName="contrasena"
                    placeholder="Ingresa tu contraseña" />
                <i class="fas" [ngClass]="mostrarContrasena ? 'fa-eye-slash' : 'fa-eye'" (click)="toggleMostrar()"
                    title="Mostrar/ocultar contraseña"></i>
            </div>
        </div>

        <button type="submit" class="btn-login" [disabled]="loginForm.invalid">Entrar</button>

        <p class="register-text">
            ¿No tienes cuenta?
            <a (click)="irARegistro()" role="button">Regístrate aquí</a>
        </p>
    </form>
</div>