<div class="login-container">
  <form class="form-card mat-elevation-z6" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <h2 class="title">Crear cuenta</h2>

    <!-- Nombre -->
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Nombre completo</mat-label>
      <input matInput type="text" placeholder="Tu nombre" formControlName="nombre" />
      <mat-icon matSuffix>person</mat-icon>
    </mat-form-field>

    <!-- Correo -->
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Correo electrónico</mat-label>
      <input matInput type="email" placeholder="ejemplo@correo.com" formControlName="correo" />
      <mat-icon matSuffix>mail</mat-icon>
    </mat-form-field>

    <!-- Contraseña -->
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Contraseña</mat-label>
      <input
        matInput
        [type]="mostrarContrasena ? 'text' : 'password'"
        placeholder="Crea una contraseña"
        formControlName="contrasena"
      />
      <button mat-icon-button matSuffix type="button" (click)="toggleMostrar()" aria-label="Toggle password visibility">
        <mat-icon>{{ mostrarContrasena ? 'visibility_off' : 'visibility' }}</mat-icon>
      </button>
    </mat-form-field>

    <!-- Botón de registro -->
    <button mat-raised-button color="primary" class="btn-login" [disabled]="registerForm.invalid || isLoading">
      <mat-icon>how_to_reg</mat-icon>
      Registrarse
    </button>

    <!-- Enlace a login -->
    <p class="register-text">
      ¿Ya tienes cuenta?
      <a (click)="irAInicioSesion()" class="link-animado">Inicia sesión aquí</a>
    </p>
  </form>

  <!-- Loading Spinner -->
  <div class="overlay-spinner" *ngIf="isLoading">
    <mat-spinner diameter="50"></mat-spinner>
  </div>
</div>
